<!DOCTYPE html>
<html>
{%load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - My Blog</title>
    <link rel="stylesheet" href={%static "bootstrap/css/bootstrap.min.css"%}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href={%static "fonts/font-awesome.min.css"%}>
    <link rel="stylesheet" href={%static "fonts/simple-line-icons.min.css"%}>
    <link rel="stylesheet" href={%static "css/Animated-Type-Heading.css"%}>
    <link rel="stylesheet" href={%static "css/sticky-dark-top-nav-with-dropdown.css"%}>
    <link rel="stylesheet" href={%static "css/Swipe-Slider-7.css"%}>
</head>

<body id="page-top" style="color: rgb(240,244,248);"><a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper" style="background-image:url({% static 'img/bgnav1.jpg'%}); ">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="/"><h1>My Blog</h1></a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/"><h4>Home</h4></a></li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/login"><h4>Admin</h4></a></li>
                    {% else %}
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/logout"><h4>Logout</h4></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <section id="about" class="content-section bg-light">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 style="color: rgb(22,98,174);">{{posts.txt}}</h1>
                </div>
            </div>
        </div>
    </section>

    <section style="background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.1) 100%), url(&quot;{%static 'bg/'%}{{bgb}}&quot;);background-position:center center;background-repeat:no-repeat;background-size:cover;">
        <div class="container text-center">
          {% autoescape off %}
                         <p style="width: 50%;height: 500px;border-radius: 24px;padding-left: 10px;padding-right: 10px;align:center;">{{posts.file}}</p>
                         {%static 'bg/'%}{{bgb}}
            {% endautoescape %}
          </div>
    </section>
    {{data}}
    <footer class="footer text-center" style="background-color: #fffff;filter: saturate(200%);">
        <div class="container" style="color: #ffffff;">
          <p class="mb-0" style="color: black; "><b><i> Posted on : {{posts.my_date}}</i></b></p>
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-youtube"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© My Blog 2020</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src={% static "js/jquery.min.js"%}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js"%}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src={% static "js/stylish-portfolio.js"%}></script>
    <script src={% static "js/Animated-Type-Heading.js"%}></script>
    <script src={% static "js/Swipe-Slider-7.js"%}></script>
</body>

</html>
